<ion-list>
<div class = "bar bar-header">
   <h1 class = "title">Create your account</h1>
</div>
<ion-item>
    <ion-label fixed>First Name</ion-label>
     <ion-input name="text" type="name" placeholder="Enter your First Name" ngModel required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label fixed>Last Name </ion-label>
     <ion-input name="tetx" type="lname" placeholder="Enter your Last name" ngModel required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label fixed>Email Address </ion-label>
     <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label fixed>Password</ion-label>
    <ion-input name="Password" type="password" placeholder="Password " ngModel required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label fixed> Confirm Password</ion-label>
    <ion-input name="Password" type="password" placeholder="ConfirmPassword " ngModel required></ion-input>
  </ion-item>
<button class = "button button-block">Sign up
</button>
</ion-list>